.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  display: flex;
  background-color: #033515;
  color: white;
  padding: 30px;
  height: 100px;
  width: 300px;
  margin: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between
}

.Nav-Bar {
  text-align: center;
  background-color: #000703;
  color: white;
}